@charset "UTF-8";
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f0f0f;
    color: white;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #1b1b1b;
    padding: 20px;
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border: 5px solid #ff004f;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.sidebar h1 {
    font-size: 22px;
    margin: 0;
}

.sidebar p {
    color: #ccc;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    margin: 25px 0;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    background-color: #2c2c2c;
    transition: background 0.3s;
}

.sidebar a.active,
.sidebar a:hover {
    background-color: #ff004f;
}

.main {
    flex: 1;
    padding: 50px;
}

.main h2 {
    font-size: 24px;
    color: #ffffff;
}

.main h1 {
    font-size: 40px;
    margin: 10px 0;
}

.main h1 span {
    color: #ff004f;
}

.main p {
    font-size: 18px;
    color: #ccc;
    line-height: 1.6;
}

.btn {
    background-color: #2c2c2c;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #ff004f;
}
